.form-profile-edit {
  display: flex;
  background-color: #fff;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  font-family: "Inter";
}

@media screen and (max-width: 550px) {
  .form-profile-edit {
    width: 282px;
    height: 322px;
  }
}
