.popup__container {
  position: absolute;
  display: block;
  max-width: 430px;
  width: 100%;
  z-index: 2;
}

@media screen and (max-width: 550px) {
  .popup__container {
    max-width: 282px;
    width: 100%;
  }
}
