.footer__copyright {
  color: #545454;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
}

@media screen and (max-width: 550px) {
  .footer__copyright {
    margin-left: 5.9375vw;
    font-size: 14px;
  }
}
