.profileedit-popup__close-button {
  position: absolute;
  color: #fff;
  top: -35px;
  left: 430px;
  width: 32px;
  height: 32px;
  border: none;
  background-image: url("../../../images/icon-close.svg");
  z-index: 3;
  background-color: transparent;
  padding: 0;
}

.profileedit-popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .profileedit-popup__close-button {
    width: 20px;
    height: 20px;
    top: -37px;
    left: 263px;
    padding: 0px;
    background-size: contain;
  }
}
