.profileedit-popup__container {
  display: block;
  position: relative;
  max-width: 430px;
  width: 100%;
  z-index: 2;
}

@media screen and (max-width: 550px) {
  .profileedit-popup__container {
    max-width: 282px;
  }
}
