.profile__username-area {
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 992px) {
  .profile__username-area::before {
    content: "";
    width: 24px;
    height: 24px;
    margin-right: 18px;
  }
}

@media screen and (max-width: 550px) {
  .profile__username-area::before {
    content: "";
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
}
