.form-profile-edit__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 34px 36px 37px;
}

@media screen and (max-width: 550px) {
  .form-profile-edit__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
