.popup__form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 358px;
  border-radius: 10px;
  font-family: "Inter", "Arial", sans-serif;
  width: 100%;
  padding: 34px 36px 37px;
}

@media screen and (max-width: 550px) {
  .popup__form {
    align-items: center;
    max-width: 238px;
    padding: 25px 22px;
  }
}
