.footer {
  display: flex;
  padding-top: 66px;
  width: 100%;
  max-width: 880px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 85.9375vw;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    width: 100%;
    padding-top: 48px;
  }
}
